@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* grid-template-rows: auto; */
  grid-gap: 15px;
  background-color: #6f4f64;
  padding: 15px;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 0 0;
  /* font-size: 30px; */
}

.image_preview_area {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 9;
    overflow: hidden;
}

.table_area {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 12;
    overflow: auto;
}

#credit_info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 12;
    overflow: hidden;
}

#credit_info a {
    color: #9696a2;
    text-decoration: none;
}

.table_area a {
    color: #185875;
    text-decoration: none;
}

.table_area thead {
    position: sticky;
}

.table_area input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

img {
    width: 200px;
}

#dataframe {
	  text-align: left;
	  /* overflow: hidden; */
	  width: 100%;
	  margin: 0 0;
      display: table;
      padding: 0 0 0 0;
      /* table-layout: fixed; */
}

#dataframe th {
	  font-weight: bold;
      font-size: 1em;
      text-align: left;
      color: #185875;
}

#dataframe td {
	  font-weight: normal;
	  font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	  -moz-box-shadow: 0 2px 2px -2px #0E1119;
	  box-shadow: 0 2px 2px -2px #0E1119;
}

#dataframe td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
      padding-left: 2%;
}

#dataframe tbody td {
    height: 40px;
}

#dataframe tr {
    background-color: #323C50;
    height: 40px;
}

#dataframe th {
    background-color: #1F2739;
}

#dataframe td:first-child { color: #FB667A; }

#dataframe tr:hover {
   background-color: #464A52;
   -webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
   box-shadow: 0 6px 6px -6px #0E1119;
}

#th_item {
    width: 15%;
    position: sticky;
    top: 0;
}
#th_stage {
    width: 7%;
    position: sticky;
    top: 0;
}
#th_cate {
    width: 10%;
    position: sticky;
    top: 0;
}
#th_lvl {
    width: 15%;
    position: sticky;
    top: 0;
}
#th_loc {
    width: 35%;
    position: sticky;
    top: 0;
}
#th_check {
    width: 7%;
    position: sticky;
    top: 0;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
